<!DOCTYPE html>
<html lang="en">
<head>
	<% include head %>
</head>
<body class="container">
	<header>
		<% include header %>
	</header>
	<main>
		<main>
			<div class="row">
				<% grams.forEach(function(gram) { %>
				<div class="instagram-pic col-sm-3">
					<a href="<%= gram.link %>" target="_blank">
						<img src="<%= gram.images.standard_resolution.url %>" class="imgresponsive">
					</a>
					<div class="instagram-bar">
						<div class="likes">
							<span class="glyphicon glyphicon-heart"></span>
							<%= gram.likes.count %>
						</div>
						<div class="comments">
							<span class="glyphicon glyphicon-comment"></span>
							<%= gram.comments.count %>
						</div>
					</div>
				</div>
				<% }); %>
			</div>
		</main>
	</main>
	<footer>
		<% include footer %>
	</footer>
</body>
</html>